{
  "root": true,
  "parser": "babel-eslint",
  "extends": "standard",
  "ecmaFeatures": {
    "module": true,
  },
  "settings": {
    "import/resolver": "webpack",
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "no-debugger": 1,
    "no-use-before-define": 1,
    "max-len": [2, { "code": 1000, "ignoreUrls": true }]
  }
}
