.progressive-image {
  position: relative;
  overflow: hidden;
}

.progressive-image-main {
  position: absolute;
  top: -10px;
  left: -10px;
  width: auto;
  max-width: calc(100% + 20px);
  z-index: 1;
  transition: all 1s ease-out;
  transform: translateZ(0);
}

.progressive-image-before-enter {
  opacity: 1;
}

.progressive-image-enter {
  opacity: 0;
}

.progressive-image-placeholder {
  position: absolute;
  top: -8px;
  left: -8px;
  width: auto;
  max-width: calc(100% + 16px);
  z-index: 0;
  overflow: hidden;
  transition: all 500ms ease-out;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1);
}

.progressive-image-placeholder-out {
  transition: all 500ms ease-out 720ms;
  opacity: 0;
}
